.idea
limpaTAB.php
*~
*.pfx
*.pem
messdetector.txt
src/Tags
src/NFe.php
src/Tag.php
config.json
local
vendor
nbproject
build
composer.lock
config.json
examples/xml/*.xml
examples/xml/aprovadas/*.xml
examples/xml/canceladas/*.xml
examples/xml/cce/*.xml
